@import "tailwindcss";

@theme {
    --color-ewc-black: #0a0a0a;
    --color-ewc-gold: #fbbf24;
    --color-ewc-gray: #171717;
    --color-ewc-text: #e5e5e5;
    --font-sans: "Inter", sans-serif;
}

/* Scrollbar Custom */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--color-ewc-black);
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-ewc-gold);
}

/* Animasi Marquee */
@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
/* Marquee diperlambat menjadi 100 detik (Sangat Halus & Mewah) */
.animate-marquee {
    animation: marquee 100s linear infinite;
}

/* Global Fixes */
body {
    overflow-x: hidden;
    width: 100%;
}
